<html>
<head>
<title>Django</title>
</head>
<body>

<h1>{{ student.student_name }}학생이 등록한 과목입니다.</h1>

{% if student.subject_set.all %}
<table border="1">
	<tr>
		<th>번 호</th>
		<th>과목명</th>
		<th>등록일</th>
		<th></th>
	</tr>
	{% for subject in student.subject_set.all %}
	<tr>
		<td>{{subject.id}}</td>
		<td>{{subject.subject_text}}</td>
		<td>{{subject.subject_date|date:"Y-m-d H:i"}}</td>
		<td><a href="/school/sub_add/">[sub add]</a><a href="/school/{{subject.id}}/upda/">[정보수정]</a><a href="/school/{{subject.id}}/sub_del/">[과목삭제]</a></td>
	</tr>

	{% endfor %}
</ul>
{% else %}
	<p>등록한 과목 데이터가 없습니다.</p>
{% endif %}
</body>
</html>



